<body style="background-image:none;">
<div id="granite-show-div">
	<p style="color:black"><%=@granite.name%></p><br>
	<%= image_tag @granite.avatar.url(:original) %>
	<p><%=@granite.description%><br></p>
</div>
</body>
