h1 {
	text-align: center;
	color:white;
}

body {
	background: white;
  margin: 0px;
}

ul {
	padding: 0px;
	list-style: none;

}

#slabs li {
  margin: 10px;
}
#slabs img {
	/*opacity: .7;*/
	width: 100%;
	height: 300px;
  border: 3px solid black;
  box-shadow: 10px 10px 10px black;
}

#slabs ul {
  padding: 0px;
}
/*img:hover {
	-webkit-filter: brightness(90%);

}*/

#logo {
  display: block;
  margin: 0 auto;
  height: 349px;
  width: 50%;
}

#nav {
  padding: 0px;
  text-align: center;
}

#nav li {
  display: inline-block;
  margin-left: 90px;
  margin-right: 90px;
  margin-top: 0xp;
}

#nav a {
  text-decoration: underline;
  color: black;
  font-size: 29px;
  font-family: 'Slabo 27px', serif;
}

#nav a:hover {
  color: red;
}


/*Removing margin on slabs list */
td ul {
  margin: 0px;

}

/*Removing margin on slabs*/
#slabs > tbody > tr > td > ul > li {
  margin: 0px;

}



figure {
height: 292px;
/* overflow: hidden; */
position: relative;
width: 100%;
margin: 3px;

}

figcaption {
background: rgba(255,255,255,.8);
color: white;
display: table;
height: 100%;
width: 100%;
left: 0px;
opacity: 0;
position: absolute;
/* right: 0; */
top: 5px;
z-index: 100;
transition: .3s;

}

figcaption p {
  /*display: table-cell;*/
  font-size: 1.5em;
  position: relative;
  top: 40px;
  /*left: 240px;*/
  /*width: 289px;*/
  /*vertical-align: middle;*/
  margin: 0px;
  font-family: 'Slabo 27px', serif;
  color: black;
}

ul li:hover figcaption {
  opacity: 1;
  /*border: 3px solid black;*/
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

