<head>
	<title>Specifications</title>
	<meta name="description" content="Important and accurate specifications are a vital part of any Quarts company. Here are some available to you right now.">
</head>
<div id="header"> 
		<a href="javascript:history.back()"><img src="assets/logo.jpg " alt="regaliastonelogo" id="logo" ></a>
</div>


	<h1>SPECS</h1>
	<img id="specs" alt="specifications" src="assets/specs.jpg">