


<div id="header"> 
		<a href="javascript:history.back()"><img src="assets/logo.jpg" id="logo"></a>
</div>


<h1 id="warranty-h1" class="hide">LIMITED LIFETIME WARRANTY</h1>

<ul class="warranty-list hide">

	<li>
		• Warranty applies only to original purchaser in its initial installation and location in a residential home, whether direct purchase or through a builder or developer.
	</li>
<br>

	<li>
		• Regalia Stone’s obligation under this warranty covers only the replacement of slab product which has failed to perform to standards. This warranty does NOT cover freight, transportation, demolition, tear-out, disposal, fabrication, or reinstallation beyond the cost of the slab product.
	</li>
<br>

	<li>
		• Warranty is invalidated if quartz is not maintained properly and does not cover color variances, thermal shock, chemical abuse, misuse, or defective fabrication or installation.
	</li>
<br>

	<li>
		• This warranty does NOT cover visual defects which are apparent prior to fabrication. It is the responsibility of the fabricator to inspect the slab prior to fabrication. Determination to proceed with fabrication is acceptance of the product.
	</li>
<br>

	<li>
		• This warranty does NOT cover surface alterations performed outside the Regalia Stone’s factory, including honing and any other alterations.
	</li>
<br>

	<li>
		• This warranty does NOT cover product installed in exterior installations, usage as a flooring material, or application in a steam shower, steam room, or sauna.
	</li>
<br>

	<li>
		• This warranty does NOT cover seam performance.
	</li>
<br>

	<li>
		• This warranty does NOT cover damage caused by acts of God, job site conditions, structural movement, acts of vandalism or accidents.
	</li>
<br>

	<li>
		• This warranty does NOT apply to any failures due to inadequate support for the installation. This includes overhangs in excess of recommended support guidelines.
	</li>
	<br>

	<li>
		• In the event of determination of defect by a Regalia Stone’s Quartz approved inspector, the option to repair or replace the material will be determined by the inspector. If replacement is necessary, exact color matching cannot be assured. If the item is discontinued at that time, the customer may select an alternative from current product range.
	</li>
<br>

	<li>
		• Claim submittal must be accompanied by proof of purchase in the form of an original invoice showing the owner and their residence.
	</li>
<br>

</ul>
 


