<body style="background-image:none;">


<div id="quart-show-div">
	<ul>
		<li><p><%=@quart.name%></p><br></li>
		<li><%= image_tag @quart.avatar.url(:original) %></li>
		<p>Specifications</p>
		<li><p><%=@quart.description%><br></p></li>
	</ul>
</div>
</body>
