#header {
  height: 130px;
  width: 100%;
  background-color: rgba(255,255,255,1);
  border-bottom: 1px solid black;


}

#box {
  height: 190px;
  width: 480px;
  text-align: center;
  background-color: rgba(0, 0, 0, .6);
  margin: 0 auto;
  margin-top: 150px;

}

#box p {
    font-family: 'BodoniFLF-Roman', serif;  font-weight: 200px; 
    font-size: 30px;
    color: white;
    padding-top: 30px;
    margin-bottom: 10px;


}

table {
  margin:0 auto;
}

.col ul {
  text-align: center;
}



.styled-button-1 {
  text-decoration: none;
  color: black;
  background: #000;
  color: red;
  padding: .1em 1em 0;
  position: relative;
  text-transform: uppercase;
  margin: 5px;
  line-height: 2;
  font-family: 'BodoniFLF-Italic', serif;  font-weight: 200px; 
  font-style: normal;
  font-size: 20px;
  border: 1px solid #999;
  letter-spacing: .05em;
  overflow: visible;
  display: inline-block;
  zoom: 1;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  transition: .2s;
}

.styled-button-1:hover {
  color: white;
  cursor: pointer;
  border: 2px solid red;
  font-size: 22px;

}

#logo-box {
  padding-top: 20px;
  padding-left: 20px;
  height: 100px;
  width: 250px;
  background-color: white;
}

#logo {
  height: 85px;
  padding-top:10px;

  /*width:200px;*/
  /*margin-top: 15px;*/
  /*margin: 0 auto;*/
  /*display: block;*/
  /*padding-top:20px;*/

}

h1 {
	text-align: center;
	color:white;
}

body {
	background: url('back.JPG');
  background-size: cover;
  /*background-position: center;*/
  background-repeat: none;
  margin: 0px;
}

ul {
	padding: 0px;
	list-style: none;

}

#quartz-slabs li {
  margin-bottom: 30px;
  display: inline-block;
  /*margin-left: 10px;*/
}
#quartz-slabs img {
	/*opacity: .7;*/
	width: 310px;
  height: 210px;
  border: 3px solid black;
  box-shadow: 5px 7px 23px black;
}

#quartz-slabs ul {
  padding: 0px;
}
/*img:hover {
	-webkit-filter: brightness(90%);

}*/


#caption {
  text-align: center;
    font-family: 'IM Fell English', serif; 
    font-style: italic;

}
#nav {
  text-align: center;
  margin-top: -29px;
  margin-left: -20px;
}

#nav li {
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
  /*margin-top: 10px;*/
}

#nav a {
  text-decoration: none;
  color: black;
  font-size: 22px;
  font-family: 'Vollkorn', serif;  font-weight: 200px; 
  /*font-style: italic;*/
  transition: .2s;
  /*margin: 0px;*/
}

#nav a:hover {
  color: red;
  text-decoration: underline;
  cursor: pointer;
  font-size: 24px;

}


/*Removing margin on quartz-slabs list */
td ul {
  margin: 0px;

}

/*Removing margin on quartz-slabs*/
#quartz-slabs > tbody > tr > td > ul > li {
  /*margin: 0px;*/

}



figure {
height: 212px;
/* overflow: hidden; */
position: relative;
width: 97%;
margin: 3px;

}

figcaption {
background: rgba(0,0,0,.8);
color: white;
display: table;
height: 97%;
width: 97%;
left: 7px;
opacity: 0;
position: absolute;
/* right: 0; */
top: 6px;
z-index: 100;
transition: .3s;
/*font-size: 10px;*/

}

figcaption p {
  /*display: table-cell;*/
  font-size: 30px;
  position: relative;
  top: 40px;
  /*left: 240px;*/
  /*width: 289px;*/
  /*vertical-align: middle;*/
  margin: 0px;
  font-family: 'Slabo', serif;
  color: white;

}

ul li:hover figcaption {
  opacity: 1;
  font-size: 25px;
  cursor: pointer;
  /*border: 3px solid black;*/
}

#quartz-header h1  {
  color: black;
  text-align: center;
  /*margin: 30px;*/
  font-size: 40px;
  font-family: 'Vollkorn', serif;  font-weight: 200px; 
  text-decoration: underline;
  margin-top: 40px;
  text-shadow: 0px 0px 0px black;
}

#quartz-header h2 {
  color: black;
  text-align: center;
    font-family: 'Slabo', serif;

    margin:5px;

}

#quartz-header h4 {
  font-family: 'Vollkorn', serif;  font-weight: 200px; 
  color: black;
  text-align: center;
}

#quartz-header h3 {
text-align: center;
}

#quartz-header p:nth-child(4) {
  margin-bottom: 35px;
}

#granites-header h1  {
  color: black;
  text-align: center;
  /*margin: 30px;*/
  font-size: 40px;
  font-family: 'Vollkorn', serif;  font-weight: 200px; 
  text-decoration: underline;
  margin-top: 40px;
  text-shadow: 0px 0px 0px black;
}

#granites-header h2 {
  color: black;
  text-align: center;
    font-family: 'Slabo', serif;

    margin:5px;

}

#granites-header h4 {
  font-family: 'Vollkorn', serif;  font-weight: 200px; 
  color: black;
  text-align: center;
}

#granites-header h3 {
text-align: center;
}

#granites-header p:nth-child(4) {
  margin-bottom: 35px;
}


#contact-div {
   height: 500px;
  width: 1200px;
  text-align: center;
  background-color: rgba(0, 0, 0, .6);
  margin: 0 auto;
  margin-top: 90px;

}

#quart-show-div {
  margin-top: 200px;
  text-align: center;

}

#quart-show-div img {
  border: 10px solid black;

}

#granite-show-div {
  margin-top: 200px;
  text-align: center;

}

#granite-show-div img {
  border: 10px solid black;

}


#granites-slabs li {
  margin-bottom: 30px;
  display: inline-block;
  /*margin-left: 10px;*/
}
#granites-slabs img {
  /*opacity: .7;*/
  width: 310px;
  height: 210px;
  border: 3px solid black;
  box-shadow: 5px 7px 23px black;
}

#granites-slabs ul {
  padding: 0px;
}